<header class="container text-center">
  <a href="/">
    <img src="/media/top-logos.svg" alt="logos for UC Davis and DDS" />
  </a>
  <h1>NCI Interactive Dashboard</h1>
  <!-- <p class="tagline">
    The NCI is a national quality assurance instrument to track progress for
    people with developmental disabilities. This tool invites stakeholders to
    view data across the state of California. To get started, choose the
    Individuals Receiving Services (IPS) card to view survey results.
  </p> -->
</header>
