<div class="d-flex justify-content-between">
  <ul
    class="nav subnav-menu flex-column nav-tabs"
    id="ipsIndividualoutcomes"
    role="tablist"
  >
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active subnav-link"
        id="satisfactionrelationships-tab"
        data-bs-toggle="tab"
        data-bs-target="#satisfactionrelationships"
        type="button"
        role="tab"
        aria-controls="satisfactionrelationships"
        aria-selected="true"
      >
        Satisfaction, Relationships
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="homesatisifaction-tab"
        data-bs-toggle="tab"
        data-bs-target="#homesatisifaction"
        data-viz="1619813743362"
        data-url="https://public.tableau.com/views/nci3_ips_outcomes-home/nci3-ips-outcomes-home?:language=en&:display_count=y&publish=yes"
        type="button"
        role="tab"
        aria-controls="homesatisifaction"
        aria-selected="false"
      >
        Home Satisfaction
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="seeingfriends-tab"
        data-bs-toggle="tab"
        data-bs-target="#seeingfriends"
        data-viz="1619813863274"
        data-url="https://public.tableau.com/views/nci3_ips_outcomes-friends/nci3-ips-outcomes-friends?:language=en&:display_count=y&publish=yes"
        type="button"
        role="tab"
        aria-controls="seeingfriends"
        aria-selected="false"
      >
        Seeing Friends
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="choiceanddecisionmaking-tab"
        data-bs-toggle="tab"
        data-bs-target="#choiceanddecisionmaking"
        data-viz="1619813902554"
        data-url="https://public.tableau.com/views/nci3_ips_outcomes-choice/nci3-ips-outcomes-choice?:language=en&:display_count=y&publish=yes"
        type="button"
        role="tab"
        aria-controls="choiceanddecisionmaking"
        aria-selected="true"
      >
        Choice and Decision-Making
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="communityinclusion-tab"
        data-bs-toggle="tab"
        data-bs-target="#communityinclusion"
        data-viz="1619814038946"
        data-url="https://public.tableau.com/views/nci3_ips_outcomes-community/nci3-ips-outcomes-community?:language=en&:display_count=y&publish=yes"
        type="button"
        role="tab"
        aria-controls="communityinclusion"
        aria-selected="false"
      >
        Community Inclusion
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="communityoutings-tab"
        data-bs-toggle="tab"
        data-bs-target="#communityoutings"
        data-viz="1619814107655"
        data-url="https://public.tableau.com/views/nci3_ips_outcomes-outings/nci3-ips-outcomes-outing?:language=en&:display_count=y&publish=yes"
        type="button"
        role="tab"
        aria-controls="communityoutings"
        aria-selected="false"
      >
        Community Outings
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="employment-tab"
        data-bs-toggle="tab"
        data-bs-target="#employment"
        data-viz="1619814144511"
        data-url="https://public.tableau.com/views/nci3_ips_outcomes-employment/nci3-ips-outcomes-employment?:language=en&:display_count=y&publish=yes"
        type="button"
        role="tab"
        aria-controls="employment"
        aria-selected="true"
      >
        Employment
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="paidjobs-tab"
        data-bs-toggle="tab"
        data-bs-target="#paidjobs"
        data-viz="1619814337991"
        data-url="https://public.tableau.com/views/nci3_ips_outcomes-jobs/nci3-ips-outcomes-jobs?:language=en&:display_count=y&publish=yes"
        type="button"
        role="tab"
        aria-controls="paidjobs"
        aria-selected="false"
      >
        Paid Jobs
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="unpaidactivities-tab"
        data-bs-toggle="tab"
        data-bs-target="#unpaidactivities"
        data-viz="1619814377196"
        data-url="https://public.tableau.com/views/nci3_ips_outcomes-activities/nci3-ips-outcomes-activities?:language=en&:display_count=y&publish=yes"
        type="button"
        role="tab"
        aria-controls="unpaidactivities"
        aria-selected="false"
      >
        Unpaid Activities
      </button>
    </li>
  </ul>
  <div class="tab-content subnav-content" id="ipsIndividualoutcomes">
    <div
      class="tab-pane fade show active"
      id="satisfactionrelationships"
      role="tabpanel"
      aria-labelledby="satisfactionrelationships-tab"
    >
      <div id="viz1619644334852" style="width: 100%; height: 1427px"></div>
    </div>

    <div
      class="tab-pane fade"
      id="homesatisifaction"
      role="tabpanel"
      aria-labelledby="homesatisifaction-tab"
    >
      <div id="viz1619813743362" style="width: 100%; height: 1427px"></div>
    </div>
    <div
      class="tab-pane fade"
      id="seeingfriends"
      role="tabpanel"
      aria-labelledby="seeingfriends-tab"
    >
      <div id="viz1619813863274" style="width: 100%; height: 1427px"></div>
    </div>
    <div
      class="tab-pane fade"
      id="choiceanddecisionmaking"
      role="tabpanel"
      aria-labelledby="choiceanddecisionmaking-tab"
    >
      <div id="viz1619813902554" style="width: 100%; height: 1427px"></div>
    </div>

    <div
      class="tab-pane fade"
      id="communityinclusion"
      role="tabpanel"
      aria-labelledby="communityinclusion-tab"
    >
      <div id="viz1619814038946" style="width: 100%; height: 1427px"></div>
    </div>
    <div
      class="tab-pane fade"
      id="communityoutings"
      role="tabpanel"
      aria-labelledby="communityoutings-tab"
    >
      <div id="viz1619814107655" style="width: 100%; height: 1427px"></div>
    </div>
    <div
      class="tab-pane fade"
      id="employment"
      role="tabpanel"
      aria-labelledby="employment-tab"
    >
      <div id="viz1619814144511" style="width: 100%; height: 1427px"></div>
    </div>

    <div
      class="tab-pane fade"
      id="paidjobs"
      role="tabpanel"
      aria-labelledby="paidjobs-tab"
    >
      <div id="viz1619814337991" style="width: 100%; height: 1427px"></div>
    </div>
    <div
      class="tab-pane fade"
      id="unpaidactivities"
      role="tabpanel"
      aria-labelledby="unpaidactivities-tab"
    >
      <div id="viz1619814377196" style="width: 100%; height: 1427px"></div>
    </div>
  </div>
</div>
