<div class="d-flex justify-content-between">
  <ul
    class="nav subnav-menu flex-column nav-tabs"
    id="ipsDemographics"
    role="tablist"
  >
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active subnav-link"
        id="mentalillness-tab"
        data-bs-toggle="tab"
        data-bs-target="#mentalillness"
        type="button"
        role="tab"
        aria-controls="mentalillness"
        aria-selected="true"
      >
        Mental Illness
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="diagnoses-tab"
        data-bs-toggle="tab"
        data-bs-target="#diagnoses"
        type="button"
        role="tab"
        aria-controls="diagnoses"
        aria-selected="false"
      >
        Diagnoses
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="health-tab"
        data-bs-toggle="tab"
        data-bs-target="#health"
        type="button"
        role="tab"
        aria-controls="health"
        aria-selected="false"
      >
        Health
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="personalcharacteristics-tab"
        data-bs-toggle="tab"
        data-bs-target="#personalcharacteristics"
        type="button"
        role="tab"
        aria-controls="personalcharacteristics"
        aria-selected="false"
      >
        Personal Characteristics
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="relationships-tab"
        data-bs-toggle="tab"
        data-bs-target="#relationships"
        type="button"
        role="tab"
        aria-controls="relationships"
        aria-selected="false"
      >
        Relationships
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="behaviormobilitycommunications-tab"
        data-bs-toggle="tab"
        data-bs-target="#behaviormobilitycommunications"
        type="button"
        role="tab"
        aria-controls="behaviormobilitycommunications"
        aria-selected="false"
      >
        Behavior, Mobility, Communications
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="housing-tab"
        data-bs-toggle="tab"
        data-bs-target="#housing"
        type="button"
        role="tab"
        aria-controls="housing"
        aria-selected="false"
      >
        Housing
      </button>
    </li>
  </ul>
  <div class="tab-content subnav-content" id="ipsDemographicsContent">
    <div
      class="tab-pane fade show active"
      id="mentalillness"
      role="tabpanel"
      aria-labelledby="mentalillness-tab"
    >
      <div
        class="tableauPlaceholder"
        id="viz1617136322558"
        style="position: relative"
      >
        <object class="tableauViz" style="display: none">
          <param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" />
          <param name="embed_code_version" value="3" />
          <param name="site_root" value="" />
          <param
            name="name"
            value="nci3_ips_demographics-mental&#47;nci3-ips-demographics-mental"
          />
          <param name="tabs" value="no" />
          <param name="toolbar" value="yes" />
          <param
            name="static_image"
            value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;nc&#47;nci3_ips_demographics-mental&#47;nci3-ips-demographics-mental&#47;1.png"
          />
          <param name="animate_transition" value="yes" />
          <param name="display_static_image" value="yes" />
          <param name="display_spinner" value="yes" />
          <param name="display_overlay" value="yes" />
          <param name="display_count" value="yes" />
          <param name="language" value="en" />
          <param name="filter" value="publish=yes" />
        </object>
        <script type="text/javascript">
          var divElement = document.getElementById("viz1617136322558");
          var vizElement = divElement.getElementsByTagName("object")[0];
          vizElement.style.width = "100%";
          vizElement.style.height = divElement.offsetWidth * 0.75 + "px";
          var scriptElement = document.createElement("script");
          scriptElement.src =
            "https://public.tableau.com/javascripts/api/viz_v1.js";
          vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="diagnoses"
      role="tabpanel"
      aria-labelledby="diagnoses-tab"
    >
      <div
        class="tableauPlaceholder"
        id="viz1617307266329"
        style="position: relative"
      >
        <object class="tableauViz" style="display: none">
          <param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" />
          <param name="embed_code_version" value="3" />
          <param name="site_root" value="" />
          <param
            name="name"
            value="nci3_ips_demographics-diagnoses&#47;nci3-ips-demographics-diagnoses"
          />
          <param name="tabs" value="no" />
          <param name="toolbar" value="yes" />
          <param
            name="static_image"
            value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;nc&#47;nci3_ips_demographics-diagnoses&#47;nci3-ips-demographics-diagnoses&#47;1.png"
          />
          <param name="animate_transition" value="yes" />
          <param name="display_static_image" value="yes" />
          <param name="display_spinner" value="yes" />
          <param name="display_overlay" value="yes" />
          <param name="display_count" value="yes" />
          <param name="language" value="en" />
          <param name="filter" value="publish=yes" />
        </object>
      </div>
      <script type="text/javascript">
        var divElement = document.getElementById("viz1617307266329");
        var vizElement = divElement.getElementsByTagName("object")[0];
        vizElement.style.width = "100%";
        vizElement.style.height = "750px";
        var scriptElement = document.createElement("script");
        scriptElement.src =
          "https://public.tableau.com/javascripts/api/viz_v1.js";
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
      </script>
    </div>
    <div
      class="tab-pane fade"
      id="health"
      role="tabpanel"
      aria-labelledby="health-tab"
    >
      health
    </div>
    <div
      class="tab-pane fade"
      id="personalcharacteristics"
      role="tabpanel"
      aria-labelledby="personalcharacteristics-tab"
    >
      personal Characteristics
    </div>
    <div
      class="tab-pane fade"
      id="relationships"
      role="tabpanel"
      aria-labelledby="relationships-tab"
    >
      relationships
    </div>
    <div
      class="tab-pane fade"
      id="behaviormobilitycommunications"
      role="tabpanel"
      aria-labelledby="behaviormobilitycommunications-tab"
    >
      Behav
    </div>
    <div
      class="tab-pane fade"
      id="housing"
      role="tabpanel"
      aria-labelledby="housing-tab"
    >
      Housing
    </div>
  </div>
</div>
