<div class="d-flex justify-content-between">
  <ul
    class="nav subnav-menu flex-column nav-tabs"
    id="ipsIndividualoutcomes"
    role="tablist"
  >
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active subnav-link"
        id="satisfactionrelationships-tab"
        data-bs-toggle="tab"
        data-bs-target="#satisfactionrelationships"
        type="button"
        role="tab"
        aria-controls="satisfactionrelationships"
        aria-selected="true"
      >
        Satisfaction, Relationships
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="homesatisifaction-tab"
        data-bs-toggle="tab"
        data-bs-target="#homesatisifaction"
        type="button"
        role="tab"
        aria-controls="homesatisifaction"
        aria-selected="false"
      >
        Home Satisfaction
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="seeingfriends-tab"
        data-bs-toggle="tab"
        data-bs-target="#seeingfriends"
        type="button"
        role="tab"
        aria-controls="seeingfriends"
        aria-selected="false"
      >
        Seeing Friends
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="choiceanddecision-tab"
        data-bs-toggle="tab"
        data-bs-target="#choiceanddecision"
        type="button"
        role="tab"
        aria-controls="choiceanddecision"
        aria-selected="true"
      >
        Choice and Decision-Making
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="communityinclusion-tab"
        data-bs-toggle="tab"
        data-bs-target="#communityinclusion"
        type="button"
        role="tab"
        aria-controls="communityinclusion"
        aria-selected="false"
      >
        Community Inclusion
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="communityoutings-tab"
        data-bs-toggle="tab"
        data-bs-target="#communityoutings"
        type="button"
        role="tab"
        aria-controls="communityoutings"
        aria-selected="false"
      >
        Community Outings
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="employment-tab"
        data-bs-toggle="tab"
        data-bs-target="#employment"
        type="button"
        role="tab"
        aria-controls="employment"
        aria-selected="true"
      >
        Employment
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="paidjobs-tab"
        data-bs-toggle="tab"
        data-bs-target="#paidjobs"
        type="button"
        role="tab"
        aria-controls="paidjobs"
        aria-selected="false"
      >
        Paid Jobs
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="unpaidactivities-tab"
        data-bs-toggle="tab"
        data-bs-target="#unpaidactivities"
        type="button"
        role="tab"
        aria-controls="unpaidactivities"
        aria-selected="false"
      >
        Unpaid Activities
      </button>
    </li>
  </ul>
  <div class="tab-content subnav-content" id="ipsIndividualoutcomes">
    <div
      class="tab-pane fade show active"
      id="satisfactionrelationships"
      role="tabpanel"
      aria-labelledby="satisfactionrelationships-tab"
    >
      Satisfaction, Relationships
    </div>

    <div
      class="tab-pane fade"
      id="homesatisifaction"
      role="tabpanel"
      aria-labelledby="homesatisifaction-tab"
    >
      Home Satisfaction
    </div>
    <div
      class="tab-pane fade"
      id="seeingfriends"
      role="tabpanel"
      aria-labelledby="seeingfriends-tab"
    >
      Seeing Friends
    </div>
    <div
      class="tab-pane fade"
      id="choiceanddecisionmaking"
      role="tabpanel"
      aria-labelledby="choiceanddecisionmaking-tab"
    >
      Choice and Decision-Making
    </div>

    <div
      class="tab-pane fade"
      id="communityinclusion"
      role="tabpanel"
      aria-labelledby="communityinclusion-tab"
    >
      Community Inclusion
    </div>
    <div
      class="tab-pane fade"
      id="communityoutings"
      role="tabpanel"
      aria-labelledby="communityoutings-tab"
    >
      Community Outings
    </div>
    <div
      class="tab-pane fade"
      id="employment"
      role="tabpanel"
      aria-labelledby="employment-tab"
    >
      Employment
    </div>

    <div
      class="tab-pane fade"
      id="paidjobs"
      role="tabpanel"
      aria-labelledby="paidjobs-tab"
    >
      Paid Jobs
    </div>
    <div
      class="tab-pane fade"
      id="unpaidactivities"
      role="tabpanel"
      aria-labelledby="unpaidactivities-tab"
    >
      Unpaid Activities
    </div>
  </div>
</div>
