<div class="d-flex justify-content-between">
  <ul
    class="nav subnav-menu flex-column nav-tabs"
    id="ipsHealthwelfarerights"
    role="tablist"
  >
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active subnav-link"
        id="health-tab"
        data-bs-toggle="tab"
        data-bs-target="#health"
        type="button"
        role="tab"
        aria-controls="health"
        aria-selected="true"
      >
        Health Care
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="wellness-tab"
        data-bs-toggle="tab"
        data-bs-target="#wellness"
        data-viz="1619813054165"
        data-url="https://public.tableau.com/views/nci3_ips_hwr-wellness/nci3-ips-hwr-wellness?:language=en&:display_count=y&publish=yes"
        type="button"
        role="tab"
        aria-controls="wellness"
        aria-selected="false"
      >
        Wellness
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="annualmedicalexams-tab"
        data-bs-toggle="tab"
        data-bs-target="#annualmedicalexams"
        data-viz="1619813115900"
        data-url="https://public.tableau.com/views/nci3_ips_hwr-annexams/nci3-ips-hwr-annexams?:language=en&:display_count=y&publish=yes"
        type="button"
        role="tab"
        aria-controls="annualmedicalexams"
        aria-selected="false"
      >
        Annual Medical Exams
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="examsforwomen-tab"
        data-bs-toggle="tab"
        data-bs-target="#examsforwomen"
        data-viz="1619813165746"
        data-url="https://public.tableau.com/views/nci3_ips_hwr-othexams/nci3-ips-hwr-othexams?:language=en&:display_count=y&publish=yes"
        type="button"
        role="tab"
        aria-controls="examsforwomen"
        aria-selected="true"
      >
        Exams for Women's Health, Hearing, and Colorectal Cancer
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="rights-tab"
        data-bs-toggle="tab"
        data-bs-target="#rights"
        data-viz="1619813260351"
        data-url="https://public.tableau.com/views/nci3_ips_hwr-rights/nci3-ips-hwr-rights?:language=en&:display_count=y&publish=yes"
        type="button"
        role="tab"
        aria-controls="rights"
        aria-selected="false"
      >
        Rights
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="safety-tab"
        data-bs-toggle="tab"
        data-bs-target="#safety"
        data-viz="1619813326616"
        data-url="https://public.tableau.com/views/nci3_ips_hwr-safety/nci3-ips-hwr-safety?:language=en&:display_count=y&publish=yes"
        type="button"
        role="tab"
        aria-controls="safety"
        aria-selected="false"
      >
        Safety
      </button>
    </li>
  </ul>
  <div class="tab-content subnav-content" id="ipsHealthwelfarerights">
    <div
      class="tab-pane fade show active"
      id="health"
      role="tabpanel"
      aria-labelledby="health-tab"
    >
      <div id="viz1619644409846" style="width: 100%; height: 1427px"></div>
    </div>

    <div
      class="tab-pane fade"
      id="wellness"
      role="tabpanel"
      aria-labelledby="wellness-tab"
    >
      <div id="viz1619813054165" style="width: 100%; height: 1427px"></div>
    </div>
    <div
      class="tab-pane fade"
      id="annualmedicalexams"
      role="tabpanel"
      aria-labelledby="annualmedicalexams-tab"
    >
      <div id="viz1619813115900" style="width: 100%; height: 1427px"></div>
    </div>
    <div
      class="tab-pane fade"
      id="examsforwomen"
      role="tabpanel"
      aria-labelledby="examsforwomen-tab"
    >
      <div id="viz1619813165746" style="width: 100%; height: 1427px"></div>
    </div>

    <div
      class="tab-pane fade"
      id="rights"
      role="tabpanel"
      aria-labelledby="rights-tab"
    >
      <div id="viz1619813260351" style="width: 100%; height: 1427px"></div>
    </div>
    <div
      class="tab-pane fade"
      id="safety"
      role="tabpanel"
      aria-labelledby="safety-tab"
    >
      <div id="viz1619813326616" style="width: 100%; height: 1427px"></div>
    </div>
  </div>
</div>
