<div class="d-flex justify-content-between">
  <ul
    class="nav subnav-menu flex-column nav-tabs"
    id="ipsSystemperformance"
    role="tablist"
  >
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active subnav-link"
        id="accessculturalcompetencyservicecoordination-tab"
        data-bs-toggle="tab"
        data-bs-target="#accessculturalcompetencyservicecoordination"
        data-viz="1618955625474"
        type="button"
        role="tab"
        aria-controls="accessculturalcompetencyservicecoordination"
        aria-selected="true"
      >
        Access, Cultural Competency, Service Coordination
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="servicesreceived-tab"
        data-bs-toggle="tab"
        data-bs-target="#servicesreceived"
        data-viz="1618956000028"
        type="button"
        role="tab"
        aria-controls="servicesreceived"
        aria-selected="false"
      >
        Services Received
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="servicesneeded-tab"
        data-bs-toggle="tab"
        data-bs-target="#servicesneeded"
        data-viz="1618956248111"
        type="button"
        role="tab"
        aria-controls="servicesneeded"
        aria-selected="false"
      >
        Services Needed
      </button>
    </li>
  </ul>
  <div class="tab-content subnav-content" id="ipsSystemperformanceContent">
    <div
      class="tab-pane fade show active testdiv"
      id="accessculturalcompetencyservicecoordination"
      role="tabpanel"
      aria-labelledby="accessculturalcompetencyservicecoordination-tab"
    ></div>
    <div id="viz1618955625474"></div>
    <div
      class="tab-pane fade"
      id="servicesreceived"
      role="tabpanel"
      aria-labelledby="servicesreceived-tab"
    >
      <div id="viz1618956000028"></div>
    </div>
    <div
      class="tab-pane fade"
      id="servicesneeded"
      role="tabpanel"
      aria-labelledby="servicesneeded-tab"
    >
      <div id="viz1618956248111"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(".subnav-link").click(function () {
    const vizID = $(this).attr("data-viz");
    var $visDiv = $("#viz" + vizID);
    if ($visDiv.is(":empty")) {
      $visDiv.append($("<p id='test'>My <em>new</em> text</p>"));
    }
  });
</script>
