<div class="d-flex justify-content-between">
  <ul class="nav nav-tabs flex-column" id="ips-demographics" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="demographics-tab"
        data-bs-toggle="tab"
        data-bs-target="#demographics"
        type="button"
        role="tab"
        aria-controls="demographics"
        aria-selected="true"
      >
        Demographis
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="profile-tab"
        data-bs-toggle="tab"
        data-bs-target="#profile"
        type="button"
        role="tab"
        aria-controls="profile"
        aria-selected="false"
      >
        Profile
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="contact-tab"
        data-bs-toggle="tab"
        data-bs-target="#contact"
        type="button"
        role="tab"
        aria-controls="contact"
        aria-selected="false"
      >
        Contact
      </button>
    </li>
  </ul>
  <div class="tab-content subnavcontent" id="demographics">
    <div
      class="tab-pane fade show active"
      id="demographics"
      role="tabpanel"
      aria-labelledby="demographics-tab"
    >
      <div
        class="tableauPlaceholder"
        id="viz1617053332780"
        style="position: relative"
      >
        <object class="tableauViz" style="display: none">
          <param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" />
          <param name="embed_code_version" value="3" />
          <param name="site_root" value="" />
          <param name="name" value="DDS-NCI-IPS-Dashboard&#47;Withfiltertext" />
          <param name="tabs" value="no" />
          <param name="toolbar" value="yes" />
          <param
            name="static_image"
            value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;DD&#47;DDS-NCI-IPS-Dashboard&#47;Withfiltertext&#47;1.png"
          />
          <param name="animate_transition" value="yes" />
          <param name="display_static_image" value="yes" />
          <param name="display_spinner" value="yes" />
          <param name="display_overlay" value="yes" />
          <param name="display_count" value="yes" />
        </object>
      </div>
      <script type="text/javascript">
        var divElement = document.getElementById("viz1617053332780");
        var vizElement = divElement.getElementsByTagName("object")[0];
        vizElement.style.width = "100%";
        vizElement.style.height = divElement.offsetWidth * 0.75 + "px";
        var scriptElement = document.createElement("script");
        scriptElement.src =
          "https://public.tableau.com/javascripts/api/viz_v1.js";
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
      </script>
    </div>
    <div
      class="tab-pane fade"
      id="profile"
      role="tabpanel"
      aria-labelledby="profile-tab"
    >
      doo
    </div>
    <div
      class="tab-pane fade"
      id="contact"
      role="tabpanel"
      aria-labelledby="contact-tab"
    >
      twa
    </div>
  </div>
</div>
