<div class="d-flex justify-content-between">
  <ul
    class="nav subnav-menu flex-column nav-tabs"
    id="ipsHealthwelfarerights"
    role="tablist"
  >
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active subnav-link"
        id="health-tab"
        data-bs-toggle="tab"
        data-bs-target="#health"
        type="button"
        role="tab"
        aria-controls="health"
        aria-selected="true"
      >
        Health Care
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="wellness-tab"
        data-bs-toggle="tab"
        data-bs-target="#wellness"
        type="button"
        role="tab"
        aria-controls="wellness"
        aria-selected="false"
      >
        Wellness
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="annualmedicalexams-tab"
        data-bs-toggle="tab"
        data-bs-target="#annualmedicalexams"
        type="button"
        role="tab"
        aria-controls="annualmedicalexams"
        aria-selected="false"
      >
        Annual Medical Exams
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="examsforwomen-tab"
        data-bs-toggle="tab"
        data-bs-target="#examsforwomen"
        type="button"
        role="tab"
        aria-controls="examsforwomen"
        aria-selected="true"
      >
        Exams for Women's Health, Hearing, and Colorectal Cancer
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="rights-tab"
        data-bs-toggle="tab"
        data-bs-target="#rights"
        type="button"
        role="tab"
        aria-controls="rights"
        aria-selected="false"
      >
        Rights
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="safety-tab"
        data-bs-toggle="tab"
        data-bs-target="#safety"
        type="button"
        role="tab"
        aria-controls="safety"
        aria-selected="false"
      >
        Safety
      </button>
    </li>
  </ul>
  <div class="tab-content subnav-content" id="ipsHealthwelfarerights">
    <div
      class="tab-pane fade show active"
      id="health"
      role="tabpanel"
      aria-labelledby="health-tab"
    >
      Health Care
    </div>

    <div
      class="tab-pane fade"
      id="wellness"
      role="tabpanel"
      aria-labelledby="wellness-tab"
    >
      Wellness
    </div>
    <div
      class="tab-pane fade"
      id="annualmedicalexams"
      role="tabpanel"
      aria-labelledby="annualmedicalexams-tab"
    >
      Annual Medical Exams
    </div>
    <div
      class="tab-pane fade"
      id="examsforwomen"
      role="tabpanel"
      aria-labelledby="examsforwomen-tab"
    >
      Exams for Women's Health, Hearing, and Colorectal Cancer
    </div>

    <div
      class="tab-pane fade"
      id="rights"
      role="tabpanel"
      aria-labelledby="rights-tab"
    >
      Rights
    </div>
    <div
      class="tab-pane fade"
      id="safety"
      role="tabpanel"
      aria-labelledby="safety-tab"
    >
      Safety
    </div>
  </div>
</div>
