<div class="d-flex justify-content-between">
  <ul
    class="nav subnav-menu flex-column nav-tabs"
    id="ipsSystemperformance"
    role="tablist"
  >
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active subnav-link"
        id="accessculturalcompetencyservicecoordination-tab"
        data-bs-toggle="tab"
        data-bs-target="#accessculturalcompetencyservicecoordination"
        type="button"
        role="tab"
        aria-controls="accessculturalcompetencyservicecoordination"
        aria-selected="true"
      >
        Access, Cultural Competency, Service Coordination
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="servicesreceived-tab"
        data-bs-toggle="tab"
        data-bs-target="#servicesreceived"
        type="button"
        role="tab"
        aria-controls="servicesreceived"
        aria-selected="false"
      >
        Services Received
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link subnav-link"
        id="servicesneeded-tab"
        data-bs-toggle="tab"
        data-bs-target="#servicesneeded"
        type="button"
        role="tab"
        aria-controls="servicesneeded"
        aria-selected="false"
      >
        Services Needed
      </button>
    </li>
  </ul>
  <div class="tab-content subnav-content" id="ipsSystemperformanceContent">
    <div
      class="tab-pane fade show active"
      id="accessculturalcompetencyservicecoordination"
      role="tabpanel"
      aria-labelledby="accessculturalcompetencyservicecoordination-tab"
    >
      access
    </div>

    <div
      class="tab-pane fade"
      id="servicesreceived"
      role="tabpanel"
      aria-labelledby="servicesreceived-tab"
    >
      sercices
    </div>
    <div
      class="tab-pane fade"
      id="servicesneeded"
      role="tabpanel"
      aria-labelledby="servicesneeded-tab"
    >
      health
    </div>
  </div>
</div>
