.btn {
  box-shadow: $box-shadow;
}

.btn.active:focus,
.btn:active:focus,
.btn:focus {
  outline: 0 none;
}

.btn.active,
.btn:active {
  box-shadow: none;
}
.btn-ridge {
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 3px rgba(0, 0, 0, 0.08);
  &:hover,
  &:active,
  &:focus {
    box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.15) inset,
      0 3px 6px rgba(0, 0, 0, 0.08);
  }
}
.btn-upward {
  &:hover {
    transform: translateY(-1px);
  }
}
.bg-recpool {
  background-color: $recpool;
}
.bg-tahoe {
  background-color: $tahoe;
}
.bg-gunrock {
  background-color: $gunrock;
}
.bg-bodega {
  background-color: $bodega;
}
.bg-rain {
  background-color: $rain;
}
.bg-arboretum {
  background-color: $arboretum;
}
.bg-putahcreek {
  background-color: $putahcreek;
}
.bg-delta {
  background-color: $delta;
}
.bg-farm {
  background-color: $farmersmarket;
}
.bg-sage {
  background-color: $sage;
}
.bg-quad {
  background-color: $quad;
}
.bg-redwood {
  background-color: $redwood;
}
.bg-goldenstate {
  background-color: $goldenstate;
}
.bg-sunflower {
  background-color: $sunflower;
}
.bg-poppy {
  background-color: $poppy;
}
.bg-california {
  background-color: $california;
}
.bg-rose {
  background-color: $rose;
}
.bg-strawberry {
  background-color: $strawberry;
}
.bg-doubledecker {
  background-color: $doubledecker;
}
.bg-merlot {
  background-color: $merlot;
}
.bg-thiebauldicing {
  background-color: $thiebauldicing;
}
.bg-redbud {
  background-color: $redbud;
}
.bg-pinot {
  background-color: $pinot;
}
.bg-cabernet {
  background-color: $cabernet;
}
.recpool {
  color: $recpool;
}
.tahoe {
  color: $tahoe;
}
.gunrock {
  color: $gunrock;
}
.bodega {
  color: $bodega;
}
.rain {
  color: $rain;
}
.arboretum {
  color: $arboretum;
}
.putahcreek {
  color: $putahcreek;
}
.delta {
  color: $delta;
}
.farm {
  color: $farmersmarket;
}
.sage {
  color: $sage;
}
.quad {
  color: $quad;
}
.redwood {
  color: $redwood;
}
.goldenstate {
  color: $goldenstate;
}
.sunflower {
  color: $sunflower;
}
.poppy {
  color: $poppy;
}
.california {
  color: $california;
}
.rose {
  color: $rose;
}
.strawberry {
  color: $strawberry;
}
.doubledecker {
  color: $doubledecker;
}
.merlot {
  color: $merlot;
}
.thiebauldicing {
  color: $thiebauldicing;
}
.redbud {
  color: $redbud;
}
.pinot {
  color: $pinot;
}
.cabernet {
  color: $cabernet;
}
.primary-font {
  color: $primary-font;
}
.secondary-font {
  color: $secondary-font;
}
.tertiary-font {
  color: $tertiary-font;
}
// .featured-image::before {
//   background-color: $ips;
//   content: "";
//   position: absolute;
//   top: 10%;
//   width: 599px;
//   height: 399px;
//   z-index: -1;
//   pointer-events: none;
//   left: 52%;
// }
.instructions {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 16px;
  font-style: italic;
  .ips-color & {
    background-color: $ips-bg;
  }
}
.featured-image {
  .ips-color & img {
    border-top: 16px solid $ips;
    border-right: 16px solid $ips;
  }
}
