*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.page-wrap {
  flex: 1 0 auto;
}
.head_bleed {
  background: #1e3a5b;
  background: -moz-linear-gradient(
    left,
    #1e3a5b 0%,
    #1e3a5b 44%,
    #dbbc5b 57%,
    #dbbc5b 100%
  );
  background: -webkit-linear-gradient(
    left,
    #1e3a5b 0%,
    #1e3a5b 44%,
    #dbbc5b 57%,
    #dbbc5b 100%
  );
  background: linear-gradient(
    to right,
    #1e3a5b 0%,
    #1e3a5b 44%,
    #dbbc5b 57%,
    #dbbc5b 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradient-one',endColorstr='$gradient-two',GradientType=1);
  margin-top: -1px;
}
.head_divider {
  background: url(/media/gunrock_banner_final.svg) center top/cover no-repeat;
  height: 26px;
  // i {
  //   color:#fff;
  //   background-color: $golden-lupine;
  //   height:50px;
  //   width:50px;
  //   font-size:2.8rem;
  //   border-radius:50%;
  // }
}
// .content-wrap {
//   background-color: #fff;
//   border-radius: 2px;
//   border: $borders;
//   padding: 16px;
// }
.tableau-wrapper {
  margin-top: 5%;
  box-shadow: $box-shadow;
}
.mainnav-menu {
  .mainnav-item {
    button {
      border-radius: 0px;
    }
    &:first-child button {
      border-top-left-radius: 4px;
    }
    &:last-child button {
      border-top-right-radius: 4px;
    }
  }
  .mainnav-link {
    color: #fff;
    border: none;
    font-size: 1rem;
    font-family: $sans-bold;
    text-transform: uppercase;
    .ips-color & {
      background-color: $ips;
      &:hover {
        background-color: darken($ips, 3);
      }
      &.active {
        background-color: darken($ips, 5);
      }
    }
    &.active {
      color: #fff;
    }
  }
}

.subnav-menu {
  border-right: 1px solid $borders;
  .ips-color & {
    background-color: $ips-bg;
  }
  li {
    border-bottom: 1px solid $borders;
  }
  .subnav-link {
    color: $primary-font;
    border-right: 4px solid rgba(255, 255, 255, 0.00005);
    border-radius: 0;
    border: none;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: bold;
    margin-bottom: 0 !important;
    // &.active::before {
    //   content: "";
    //   display: inline-block;
    //   width: 10px;
    //   height: 10px;
    //   border-radius: 5px;
    //   background-color: #000;
    // }
    .ips-color & {
      background-color: $ips-bg;
      width: 100%;
      &.active {
        color: $ips;
        border-right: 4px solid $ips;
        // &::before {
        //   background-color: $ips;
        // }
      }
      &:hover {
        background-color: transparentize($ips, 0.5);
      }
    }
  }
}
.subnav-content {
  width: 100%;
  padding: 16px;
}
footer {
  flex-shrink: 0;
  margin-bottom: 2rem;
  margin-top: 5%;
  .foot-icons {
    margin-bottom: 8px;
    a {
      padding: 0px 4px;
      display: inline-block;
    }
    button {
      background-color: rgba(255, 255, 255, 0.00005);
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
}
.container {
  max-width: 1140px;
}
