html {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  line-height: 1.5;
}
body {
  font-family: $sans-reg;
  color: $primary-font;
}
ul,
ol {
  &.no-list-style {
    list-style-type: none;
    padding-left: 0px;
  }
}
.discreet {
  color: $tertiary-font;
}
p {
  line-height: 1.6;
  &.lede {
    font-size: 1.2rem;
    color: $secondary-font;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-reg;
}
.tagline {
  font-size: 1rem;
  max-width: 40vw;
  margin: 0 auto;
  text-align: center;
}
a {
  color: $primary-color;
}
