---
layout: page
title: Individuals Receiving Services (IPS)
permalink: /ips
pagecolor: ips
---

<div class="module-intro">
  <div class="row">
    <div class="col-md-7">
      <h1>{{ page.title }}</h1>
      <p class="lede">
        National Core Indicators In-Person Survey for the State of California.
      </p>
      <p>
        “The NCI In-Person Survey is administered to individuals with a
        developmental disability who receive at least one service other than
        case management.”
        <br />
        (National Child Family Survey Report, NASDDDS & HSRI)
      </p>
      <p>
        <b
          >For optimal performance, please use supported browsers Edge, Chrome,
          Firefox, or Safari with the most recent updates installed.</b
        >
      </p>

      <div class="instructions">
        <p>
          To get started, choose a survey section and topic, and make selections
          for:
        </p>
        <ol>
          <li>Survey question</li>
          <li>Regional center</li>
          <li>Year</li>
        </ol>
        <p>
          Year Optional filters are available to explore responses based on
          demographic characteristics. Regional center can also be selected by
          clicking on the map. Charts will automatically update.
        </p>
        <p>
          Export views of the data as an image or a PDF by selecting the
          corresponding download button in the lower right corner of the
          dashboard view.
        </p>
      </div>
    </div>

    <div class="col-md-4 offset-md-1 featured-image">
      <img
        class="img-fluid"
        src="/media/ips-main.jpg"
        alt="Girl standing in a classroom"
      />
    </div>
  </div>
</div>
<div class="tableau-wrapper">
  <ul class="nav mainnav-menu nav-tabs nav-fill" id="ipsMainnav" role="tablist">
    <li class="nav-item mainnav-item" role="presentation">
      <button
        class="nav-link mainnav-link active"
        id="demographics-tab"
        data-bs-toggle="tab"
        data-bs-target="#demographics"
        type="button"
        role="tab"
        aria-controls="demographics"
        aria-selected="true"
      >
        Demographics
      </button>
    </li>
    <li class="nav-item mainnav-item" role="presentation">
      <button
        class="nav-link mainnav-link"
        id="systemperformance-tab"
        data-bs-toggle="tab"
        data-bs-target="#systemperformance"
        type="button"
        role="tab"
        aria-controls="systemperformance"
        aria-selected="false"
      >
        System Performance
      </button>
    </li>
    <li class="nav-item mainnav-item" role="presentation">
      <button
        class="nav-link mainnav-link"
        id="individualoutcomes-tab"
        data-bs-toggle="tab"
        data-bs-target="#individualoutcomes"
        type="button"
        role="tab"
        aria-controls="individualoutcomes"
        aria-selected="false"
      >
        Individual Outcomes
      </button>
    </li>
    <li class="nav-item mainnav-item" role="presentation">
      <button
        class="nav-link mainnav-link"
        id="healthwelfarerights-tab"
        data-bs-toggle="tab"
        data-bs-target="#healthwelfarerights"
        type="button"
        role="tab"
        aria-controls="healthwelfarerights"
        aria-selected="false"
      >
        Health, Welfare, and Rights
      </button>
    </li>
  </ul>
  <div class="tab-content" id="ipsMainnavContent">
    <div
      class="tab-pane fade show active"
      id="demographics"
      role="tabpanel"
      aria-labelledby="demographics-tab"
    >
      {% include ips-demographics.html %}
    </div>
    <div
      class="tab-pane fade"
      id="systemperformance"
      role="tabpanel"
      aria-labelledby="systemperformance-tab"
    >
      {% include ips-systemperformance.html %}
    </div>
    <div
      class="tab-pane fade"
      id="individualoutcomes"
      role="tabpanel"
      aria-labelledby="individualoutcomes-tab"
    >
      {% include ips-individualoutcomes.html %}
    </div>
    <div
      class="tab-pane fade"
      id="healthwelfarerights"
      role="tabpanel"
      aria-labelledby="healthwelfarerights-tab"
    >
      {% include ips-healthwelfarerights.html %}
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#systemperformance-tab").click(function () {
    var containerDiv = document.getElementById("viz1618955625474"),
      url =
        "https://public.tableau.com/views/nci3_ips_system/nci3-ips-system-one";

    if (containerDiv.innerHTML === "") {
      var viz = new tableau.Viz(containerDiv, url);
    }
  });
</script>
<script type="text/javascript">
  $("#individualoutcomes-tab").click(function () {
    var containerDiv = document.getElementById("viz1619644334852"),
      url =
        "https://public.tableau.com/views/nci3_ips_outcomes-satisfaction/nci3-ips-outcomes-satisfaction";

    if (containerDiv.innerHTML === "") {
      var viz = new tableau.Viz(containerDiv, url);
    }
  });
</script>
<script type="text/javascript">
  $("#healthwelfarerights-tab").click(function () {
    var containerDiv = document.getElementById("viz1619644409846"),
      url =
        "https://public.tableau.com/views/nci3_ips_hwr-healthcare/nci3-ips-hwr-healthcare";

    if (containerDiv.innerHTML === "") {
      var viz = new tableau.Viz(containerDiv, url);
    }
  });
</script>
<script>
  function initViz() {
    var containerDiv = document.getElementById("viz1619812370361"),
      url =
        "https://public.tableau.com/views/nci3_ips_demographics-characteristics/nci3-ips-demographics-characteristics";

    if (containerDiv.innerHTML === "") {
      var viz = new tableau.Viz(containerDiv, url);
    }
  }
</script>
