---
layout: page
title: Individuals Receiving Services (IPS)
permalink: /ips
pagecolor: ips
---

<div class="module-intro">
  <div class="row">
    <div class="col-md-6">
      <h1>{{ page.title }}</h1>
      <p class="lede">
        National Core Indicators In-Person Survey for the State of California.
      </p>
      <p>
        “The NCI In-Person Survey is administered to individuals with a
        developmental disability who receive at least one service other than
        case management.”
      </p>
      <p class="instructions">
        To visualize data* select the 1. year, 2. topic area, 3. survey item,
        and 4. regional center. Location can also be selected using the map.
        Charts will automatically update. If data is unavailable, refresh the
        page or make new selections.
        <br />
        <br />
        Export views of the data by selecting the “Download” icon in the lower
        right footer of the dashboard.
      </p>
    </div>
    <div class="col-md-5 offset-md-1 featured-image">
      <img
        class="img-fluid"
        src="/media/ips-main.jpg"
        alt="Girl standing in a classroom"
      />
    </div>
  </div>
</div>
<div class="tableau-wrapper">
  <ul class="nav mainnav-menu nav-tabs nav-fill" id="ipsMainnav" role="tablist">
    <li class="nav-item mainnav-item" role="presentation">
      <button
        class="nav-link mainnav-link active"
        id="demographics-tab"
        data-bs-toggle="tab"
        data-bs-target="#demographics"
        type="button"
        role="tab"
        aria-controls="demographics"
        aria-selected="true"
      >
        Demographics
      </button>
    </li>
    <li class="nav-item mainnav-item" role="presentation">
      <button
        class="nav-link mainnav-link"
        id="systemperformance-tab"
        data-bs-toggle="tab"
        data-bs-target="#systemperformance"
        type="button"
        role="tab"
        aria-controls="systemperformance"
        aria-selected="false"
      >
        System Performance
      </button>
    </li>
    <li class="nav-item mainnav-item" role="presentation">
      <button
        class="nav-link mainnav-link"
        id="individualoutcomes-tab"
        data-bs-toggle="tab"
        data-bs-target="#individualoutcomes"
        type="button"
        role="tab"
        aria-controls="individualoutcomes"
        aria-selected="false"
      >
        Individual Outcomes
      </button>
    </li>
    <li class="nav-item mainnav-item" role="presentation">
      <button
        class="nav-link mainnav-link"
        id="healthwelfarerights-tab"
        data-bs-toggle="tab"
        data-bs-target="#healthwelfarerights"
        type="button"
        role="tab"
        aria-controls="healthwelfarerights"
        aria-selected="false"
      >
        Health, Welfare, and Rights
      </button>
    </li>
  </ul>
  <div class="tab-content" id="ipsMainnavContent">
    <div
      class="tab-pane fade show active"
      id="demographics"
      role="tabpanel"
      aria-labelledby="demographics-tab"
    >
      {% include ips-demographics.html %}
    </div>
    <div
      class="tab-pane fade"
      id="systemperformance"
      role="tabpanel"
      aria-labelledby="systemperformance-tab"
    >
      {% include ips-systemperformance.html %}
    </div>
    <div
      class="tab-pane fade"
      id="individualoutcomes"
      role="tabpanel"
      aria-labelledby="individualoutcomes-tab"
    >
      {% include ips-individualoutcomes.html %}
    </div>
    <div
      class="tab-pane fade"
      id="healthwelfarerights"
      role="tabpanel"
      aria-labelledby="healthwelfarerights-tab"
    >
      {% include ips-healthwelfarerights.html %}
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#systemperformance-tab").click(function () {
    var containerDiv = document.getElementById("viz1618955625474"),
      url =
        "https://public.tableau.com/views/nci3_ips_system/nci3-ips-system-one?:language=en&:display_count=y&publish=yes";

    var viz = new tableau.Viz(containerDiv, url);
  });
</script>
<script type="text/javascript">
  $("#individualoutcomes-tab").click(function () {
    var containerDiv = document.getElementById("viz1619644334852"),
      url =
        "https://public.tableau.com/views/nci_dashboard_3_0_ips_outcomes/nci3-ips-outcomes-satisfaction?:language=en&:display_count=y&publish=yes";

    var viz = new tableau.Viz(containerDiv, url);
  });
</script>
<script type="text/javascript">
  $("#healthwelfarerights-tab").click(function () {
    var containerDiv = document.getElementById("viz1619644409846"),
      url =
        "https://public.tableau.com/views/nci3_ips_hwr-healthcare/nci3-ips-hwr-healthcare?:language=en&:display_count=y&publish=yes";

    var viz = new tableau.Viz(containerDiv, url);
  });
</script>
<script>
  function initViz() {
    var containerDiv = document.getElementById("viz1617136322558"),
      url =
        "https://public.tableau.com/views/nci3_ips_demographics-mental/nci3-ips-demographics-mental?:language=en&:display_count=y&publish=yes";

    var viz = new tableau.Viz(containerDiv, url);
  }
</script>
